# See https://docs.github.com/en/get-started/git-basics/ignoring-files for more about ignoring files

# Folders
__pycache__/
node_modules/
backend/venv/
backend/models/
backend/temp_uploads/
front-end/src/assets/woff2/

# Files
.env
*.pyc
front-end/src/assets/*.css
