.home-button md-icon {
  overflow: visible;
  font-variation-settings: 'FILL' 1;
}

.start .home-button * {
  display: flex;
  color: var(--md-sys-color-primary);
}

.start .menu-button {
  display: none;
}

.top-app-bar {
  z-index: 12;
  display: flex;
  position: fixed;
  overflow: visible;
  align-items: center;
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface);
  height: var(--webpage-top-app-bar-height);
  inset: 0 0 auto var(--webpage-side-nav-rail-width);
  width: calc(100% - var(--webpage-side-nav-rail-width));
  background-color: var(--md-sys-color-surface-container);
  padding: var(--webpage-spacing-m) var(--webpage-spacing-l);
}

.top-app-bar a {
  outline: none;
  position: relative;
  padding-inline: 12px;
  text-decoration: none;
  vertical-align: middle;
  color: var(--md-sys-color-primary);
  -webkit-tap-highlight-color: transparent;
  font-size: max(var(--webpage-title-l-font-size), 20px);
}

.top-app-bar .end {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--webpage-spacing-xxs);
}

.top-app-bar .start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 900px) {
  .start .home-button {
    display: none;
  }

  .start .menu-button {
    display: flex;
  }

  .top-app-bar {
    width: 100%;
    inset: 0 0 auto 0;
  }
}
