.report-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--webpage-spacing-xl);
}

.report-list-container h3 {
  margin: var(--webpage-spacing-s);
}

.report-list-container md-list {
  gap: var(--webpage-spacing-xs);
  padding: var(--webpage-spacing-xs);
  border-radius: var(--webpage-spacing-m);
}

.report-list-container md-list-item {
  border-radius: var(--webpage-spacing-m);
}

.report-list-container .empty-list-state {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--md-sys-color-on-surface-variant);
  gap: var(--webpage-spacing-m);
  padding: var(--webpage-spacing-l);
}

.report-list-container .empty-state-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--webpage-spacing-s);
}

.report-list-container .empty-state-header .empty-state-icon {
  width: 64px;
  height: 64px;
  line-height: 1;
  font-size: 64px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: var(--md-sys-color-outline);
}

@media (max-width: 900px) {
  .report-list-container md-fab {
    z-index: 10;
    position: absolute;
    right: 18px;
    bottom: 20px;
  }
}
