/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      CSS VARIABLES TO BE USED THROUGHOUT THE PROJECT
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
:root {
  --webpage-display-xl-font-size: 88px;
  --webpage-display-m-font-size: 45px;
  --webpage-title-l-font-size: 22px;
  --webpage-title-m-font-size: 16px;
  --webpage-title-s-font-size: 14px;
  --webpage-body-l-font-size: 16px;
  --webpage-body-m-font-size: 14px;
  --webpage-headline-s-font-size: 24px;
  --webpage-label-l-font-size: 18px;
  --webpage-label-s-font-size: 11px;
  --webpage-shape-xl: 28px;
  --webpage-shape-l: 16px;
  --webpage-shape-m: 12px;
  --webpage-shape-s: 8px;
  --webpage-shape-xs: 4px;
  --webpage-spacing-xl: 28px;
  --webpage-spacing-l: 16px;
  --webpage-spacing-m: 12px;
  --webpage-spacing-s: 8px;
  --webpage-spacing-xs: 4px;
  --webpage-spacing-xxs: 2px;
  --webpage-top-app-bar-padding-block: 8px;
  --webpage-top-app-bar-height: calc(48px + 2 * var(--webpage-spacing-m));
  --_drawer-width: 300px;
  --webpage-side-nav-rail-width: 96px;
  --webpage-bottom-app-bar-height: calc(48px + 2 * var(--webpage-spacing-m));
  --_pane-margin-inline-start: var(--webpage-spacing-xl);
  --_pane-margin-inline-end: var(--webpage-spacing-l);
  --_pane-margin-block-end: var(--webpage-spacing-l);
  --_side-pane-width: 250px;
  --_scrollbar-width: 8px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        FOR DEVICES WITH SMALL SCREEN WIDTH SIZES
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media screen and (max-width: 1500px) {
  --_pane-margin-inline-start: var(--webpage-spacing-xl);
}

@media screen and (max-width: 600px) {
  :root {
    --webpage-display-xl-font-size: 50px;
    --webpage-title-l-font-size: 16px;
    --webpage-body-l-font-size: 14px;
    --webpage-body-m-font-size: 12px;
    /* Mostly to accommodate content padding on small screens */
    --webpage-spacing-xl: 16px;
    --webpage-spacing-l: 12px;
    --_pane-margin-block-end: 0px;
    --_pane-margin-inline-start: 0px;
    --_pane-margin-inline-end: 0px;
  }
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        CSS CUSTOM STYLING FOR THE ENTIRE PROJECT
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
:root {
  font-family: 'Google Sans', Roboto, system-ui;
  --md-ref-typeface-plain: 'Google Sans', Roboto, system-ui;
  scroll-padding-block-start: calc(var(--webpage-top-app-bar-height) + var(--webpage-top-app-bar-padding-block) * 2);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--md-sys-color-primary);
}

a:hover, a:focus-visible {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
  justify-content: start;
  font-size: var(--webpage-body-l-font-size);
  background-color: var(--md-sys-color-surface-container);
}

md-icon-button * {
  display: block;
}

md-icon-button:not(:defined) {
  width: 40px;
  height: 40px;
  display: flex;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--md-sys-color-on-background);
}

.scroll-wrapper {
  flex-grow: 1;
  height: 100%;
  display: flex;
  max-height: 100%;
  overflow-y: auto;
  border-radius: inherit;
  box-sizing: border-box;
  flex-direction: column;
  background-color: transparent;
  transition: opacity 0.3s linear;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  STYLES FOR CLASS SELECTORS ON DEVICES WITH FINE POINTER
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (pointer: fine) {
  .scroll-wrapper {
    /* firefox */
    scrollbar-color: var(--md-sys-color-primary) transparent;
    scrollbar-width: thin;
  }

  .scroll-wrapper::-webkit-scrollbar {
    background-color: transparent;
    width: var(--_scrollbar-width);
  }

  .scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-primary);
    border-radius: calc(var(--_scrollbar-width) / 2);
  }
}
